<div class="footer flex-col space-y-10 w-[100%] bg-[#fff] mt-20 p-12">
    <div class="flex justify-around">
      <div class="space-y-4">
        <img src="./assets/image/Remove-bg 2.png" alt="#" />
        <h1 class="font-[700] text-[#49A493] text-[20px]">
          BẠN CẦN CHÚNG TÔI CÓ
        </h1>
      </div>
      <div class="flex ml-[50px] space-x-20">
        <div class=" space-y-3">
          <h2 class="font-[700]">THÔNG TIN</h2>
          <ul class="space-y-4 text-[gray]">
            <li><a href="#">Về Chúng Tôi</a></li>
            <li><a href="#">Tin Tức</a></li>
            <li><a href="#">Liên Hệ</a></li>
            <li><a href="#">Địa Chỉ</a></li>
          </ul>
        </div>
        <div class=" space-y-3 w-[200px]">
          <h2 class="font-[700]">CHÍNH SÁCH</h2>
          <ul class="space-y-4 text-[gray]">
            <li><a href="#">Chính sách kinh doanh</a></li>
            <li><a href="#">Chính sách bảo mật thông tin khách hàng</a></li>
            <li><a href="#">Chính sách đổi trả hoàn tiền</a></li>
            <li><a href="#">Chính sách bảo hành</a></li>
          </ul>
        </div>
        <div class=" space-y-3">
          <h2 class="font-[700]">KẾT NỐI VỚI MEWMEW QUA</h2>
          <ul class="flex  space-x-11">
            <li class="text-[blue] text-[25px]">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li class="text-[red] text-[25px]">
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li class="text-[red] text-[25px]">
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </li>
            <li class="text-[blue] text-[25px]">
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-col text-center">
      <p class="ml-[680px] border-[1px] border-[gray] w-[500px]"></p>
      <p class="text-[gray]">© 2024 Bản quyền thuộc về Shop Pet Mew</p>
    </div>
  </div>