<div class="header w-auto bg-[#fff]">
    <div class="flex justify-center items-center">
      <img
        src="./assets/image/Remove-bg 2.png"
        alt="logo"
        class="w-auto h-auto"
      />
      <div class="search">
        <input
          type="text"
          class="w-[594px] h-[40px] border-[1px] rounded-lg shadow-md outline-none"
          placeholder="Tìm kiếm..."
        />
        <button
          class="h-[40px] w-[90px] border-[1px] rounded-lg shadow-md"
          type="submit"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <a
        href="#"
        class="flex flex-col items-center ml-[50px] w-[100px] h-[40px]"
      >
        <i class="fa-solid fa-user mb-2"></i>
        Tài khoản
      </a>
      <a
        href="#"
        class="flex flex-col items-center ml-[50px] w-[100px] h-[40px]"
      >
        <i class="fa-solid fa-cart-shopping mb-2"></i>
        Giỏ hàng
      </a>
    </div>
    <div
      class="menu flex space-x-20 justify-center h-[50px] w-auto bg-[#49A493] items-center"
    >
      <ul class="flex space-x-7 text-[#fff] font-[500]">
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Liên hệ</a></li>
        <li><a href="#">Shop cho chó</a></li>
        <li><a href="#">Shop cho mèo</a></li>
        <li><a href="#">Đặt lịch</a></li>
        <li><a href="#">Liên hệ</a></li>
      </ul>
      <div class="space-x-2">
        <i class="fa-solid fa-phone-volume"></i>
        <span class="text-[red] font-[500]">0912123123</span>
      </div>
    </div>
  </div>