<div class="container flex flex-wrap justify-center items-center">
  <img src="../../../assets/image/So0IUy 1.png" alt="#" class="w-[100%]" />
  
    <div class="w-[500px] h-[200px] flex flex-wrap bg-[#ccc] mt-10">
      <div
        class="flex bg-[#fff] items-center rounded w-[200px] h-[100px] border-[1px] border-[black]"
      >
        <img
          src="../../../assets/image/Rocket.png"
          alt="#"
          class="w-[80px] h-[80px]"
        />
        <h4>VẬN CHUYỂN TOÀN QUỐC</h4>
      </div>
      <div
        class="flex bg-[#fff] items-center rounded w-[200px] h-[100px] border-[1px] border-[black]"
      >
        <img
          src="../../../assets/image/Sale Price Tag.png"
          alt="#"
          class="w-[80px] h-[80px]"
        />
        <h4>ƯU ĐÃI HẤP DẪN</h4>
      </div>
      <div
        class="flex bg-[#fff] items-center rounded w-[200px] h-[100px] border-[1px] border-[black]"
      >
        <img
          src="../../../assets/image/Facebook Like.png"
          alt="#"
          class="w-[80px] h-[80px]"
        />
        <h4>CAM KẾT CHÍNH HÃNG AN TOÀN</h4>
      </div>
      <div
        class="flex bg-[#fff] items-center rounded w-[200px] h-[100px] border-[1px] border-[black]"
      >
        <img
          src="../../../assets/image/Customer Support.png"
          alt="#"
          class="w-[80px] h-[80px]"
        />
        <h4>HỖ TRỢ 24/7</h4>
      </div>
    </div>
    <div class="border-[1px] mt-10 content-center space-y-2 border-[black] rounded-md w-[850px] h-[200px] bg-[#fff]">
      <h1 class="text-[25px] font-[600] text-center">Sơ Lược Về Shop Pet Mew</h1>
      <p class="ml-3">
        Shop Pet Mew là điểm đến lý tưởng cho những người yêu thú cưng! Tại đây,
        chúng tôi tự hào cung cấp các dịch vụ chăm sóc thú cưng chất lượng cao
        và các sản phẩm chăm sóc thú cưng đa dạng
      </p>
      <p class="ml-3">
        Bên cạnh đó, shop Pet Mew còn có một phạm vi đa dạng các sản phẩm từ
        thức ăn, đồ chơi đến phụ kiện thời trang, đảm bảo đáp ứng mọi nhu cầu
        của bạn và người bạn lông xù. Hãy đến và trải nghiệm dịch vụ chăm sóc
        tận tình và sự đa dạng của sản phẩm tại Shop Pet Mew ngay hôm nay!
      </p>
    </div>
  
  <div class="flex w-[90%] h-[816px] border-[1px] border-none bg-[#fff] rounded-md flex-wrap justify-center items-center space-y-5 mt-[70px]">
    <div class="w-[680px] text-center mt-10">
        <h1 class="text-[25px] font-[600]">DỊCH VỤ CHÚNG TÔI CUNG CẤP</h1>
        <p>Chúng tôi cung cấp các dịch vụ tốt nhất cho khách hàng, nhằm phục vụ nhu cầu khách hàng</p>
    </div>
    <div class="flex w-[100%] h-[816px] flex-wrap ml-20">
        <div class="text-center">
            <img src="../../../assets/image/image 1.png" alt="#" class="w-[750px] h-[240px]">
            <p>THỨC ĂN CHO  THÚ CƯNG</p>
        </div>
        <div class="text-center">
            <img src="../../../assets/image/image 2.png" alt="#" class="w-[750px] h-[240px]">
            <p>PHỤ KIỆN CHO THÚ CƯNG</p>
        </div>
        <div class="text-center">
            <img src="../../../assets/image/image 3.png" alt="#" class="w-[750px] h-[240px]">
            <p>DỊCH VỤ CHĂM SÓC THÚ CƯNG</p>
        </div>
        <div class="text-center">
            <img src="../../../assets/image/image 4.png" alt="#" class="w-[750px] h-[240px]">
            <p>ƯU ĐÃI HẤP DẪN</p>
        </div>
    </div>
  </div>

  <div class="flex flex-wrap justify-center items-center w-[1673px] h-[494px] mt-10 bg-[#fff] border-[1px] border-[black] rounded-md">
    <h1 class="text-center text-[25px] text-[#FFAD0F]">SẢN PHẨM NỔI BẬT</h1>
    <a href="#" class="text-[#ccc] text-[15px]">Xem tất cả</a>
    <div class="w-[1575px] h-[340px] border-[1px] border-[black]"></div>
  </div>
</div>
