<div class="container w-[100%]">
  <img src="../../../assets/image/So0IUy 1.png" alt="">
  <div class="login">
    <h1 style="margin-left: 30px" class="font-[700] mt-[30px] text-[20px]">ĐĂNG NHẬP</h1>
    <span class="newuser mb-5"
      >Bạn là thành viên mới?
      <a href="#" style="color: #00575c"><b>Đăng ký</b></a></span
    >
    <div class="sub-login">
      <form method="post">
        <input type="text" class="user-input" style="background-image: url('../../../assets/image/user.png');" placeholder="SĐT/Email/Tên đăng nhập" />
        <input type="password" class="password-input" style="background-image: url('../../../assets/image/lock.png');" placeholder="Mật khẩu" />
        <button type="submit">Đăng Nhập</button>
      </form>
      <div class="link">
        <a href="#">Quên mật khẩu?</a>
        <a href="#">Đăng nhập bằng SĐT?</a>
      </div>

      <span class="custom-span">or</span>
      <a href="#" class="otherlogin">
        <img src="../../../assets/image/gg.png" id="userId" class="gg-img" alt="#">
        Đăng nhập bằng Google
      </a>
      <a href="#" class="otherlogin">
        <i class="fa-brands fa-facebook" id="passId" style="color: blue"></i>
        Đăng nhập bằng Facebook
      </a>
    </div>
  </div>
</div>
